{% include 'components/header.html' %}

<!-- Header Section -->
<header class="bg-gradient-to-r from-green-500 to-blue-500 text-white py-8" style="background-image: url('/static/Images/BG_FOR_LESSON_TITLE.png'); background-size: cover; background-position: center;">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold">Aralin 1 - KONSEPTO NG WIKA</h1>
    </div>
</header>

<!-- Main Content Section -->
<main class="container mx-auto py-10 px-4">
    <section class="mb-12 bg-white shadow-lg rounded-lg overflow-hidden flex">
        <!-- Content Section -->
        <div class="p-6 w-full">
            <h2 class="text-2xl font-bold text-[#A94D39]">MGA KAHULUGAN NG WIKA AYON SA MGA DALUBHASA</h2>
        
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="ml-12">Ayon kay San Buenaventura (1985), ito ay isang larawang binibigkas at isinusulat ng kaalaman. </li>
                <li class="ml-12">Samantalang ayon kay Bienvenido Lumbera (2005), ang wika ay tilang palatandaan na buhay tayo at may kakayahang umugnay sa iba’t ibang tao. </li>
                <li class="ml-12">Ayon kina Pamela Constantino at Galileo Zafra (2000), ang wika ay kalipunan ng mga salita na daan sa pakikipag-usap. Dagdag naman ni Henry Gleason, ito ay isang masistemang balangkas ng mga tunog sa isang kultura. </li>
                <li class="ml-12">Virgilio S. Almario (2018) ay nagsabi naman na ang wika ay kaban ng karunungan.</li>
            </ul>
        </div>
    </section>

    <!-- Traits Section -->
    <section class="mb-12 bg-white shadow-lg rounded-lg overflow-hidden flex">
        <!-- Content Section -->
        <div class="p-6 w-2/3">
            <h2 class="text-2xl font-bold text-[#A94D39]"> Wikang Pambansa</h2>
            <p class="mt-4 text-gray-700">
                1934: Iminungkahi ni Lope K. Santos na gawing batayan ang iba’t ibang wikang umiiral sa Pilipinas.
            </p>
            <p class="mt-4 text-gray-700">
                1935: Ginamit ang Tagalog bilang batayan ng wikang pambansa dahil:
            </p>
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="ml-12">Wika ng sentro ng pamahalaan</li>
                <li class="ml-12">Wika ng sentro ng edukasyon</li>
                <li class="ml-12">Wika ng sentro ng kalakalan</li>
                <li class="ml-12">Wika ng pinakamarami at pinakadakilang nasusulat sa panitikan</li>
            </ul>
            <p class="mt-4 text-gray-700">
                Disyembre 30, 1937
            </p>
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="list-none ml-12">- Kautusang Tagapagpaganap Blg. 134 - Iprinoklama ni Pang. Quezon na ang 
                    wikang Tagalog bilang batayan ng wikang pambansa.</li>
            </ul>

            <p class="mt-4 text-gray-700">
                1940:
            </p>
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="list-none ml-12">- Parehong pampubliko at pribadong institusyong pang-edukasyon ay 
                    nagsimulang magturo ng pambansang wika.</li>
            </ul>
            <p class="mt-4 text-gray-700">
                Hulyo 4, 1946: Batas Komonwelt Blg. 570
            </p>
            <li class="list-none ml-12">- Ipinahayag ang Tagalog at Ingles bilang wikang opisyal.</li>

            <p class="mt-4 text-gray-700">
                1959: Kaustusan Pangkagawaran Blg. 7
            </p>
            <li class="list-none ml-12">- ipinalabas ni Jose E. Romero, Kalihim ng Edukasyon - Tagalog -> Pilipino</li>

            <p class="mt-4 text-gray-700">
                1972: Pinagtatalunan muli ang wikang pambansa
            </p>
            <li class="list-none ml-12">- Saligang Batas noong 1973, Artikulo XV, Seksiyon 3, blg. 2 - Pilipino -> Filipino</li>

            <p class="mt-4 text-gray-700">
                1987: Saligang Batas ng 1987, Artikulo XIV, Seksiyon 6 - Ang wikang pambansa ay 
                FILIPINO
            </p>
        </div>
    </section>
      
    <!-- Environmental Changes Section -->
    <section class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-6">
            <h2 class="text-2xl font-bold text-[#A94D39]">Wikang Panturo</h2>
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="ml-12">Ginagamit sa pormal na edukasyon ng mga mag-aaral at mga guro.</li>
            </ul>
        </div>

        <div class="p-6">
            <h2 class="text-2xl font-bold text-[#A94D39]">Wikang Opisyal</h2>
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="ml-12">Sinasabi ng KWF na ito ang opisyal na pahayagan ng pamahalaan.</li>
                <li class="ml-12">Saligang Batas ng 1987, Artikulo XIV, Seksiyon 7: Ang wikang opisyal ay 
                    Filipino at Ingles. Kastila at Arabic ay wikang opsiyonal.</li>
                <li class="ml-12">Tanggol Wika: Grupo sa Pamantasang De La Salle sa Maynila na nagsabing, 
                    "recipe para sa isang kalamidad," ang pagtanggal ng MTB-MLE</li>
            </ul>
        </div>

        <div class="p-6">
            <h2 class="text-2xl font-bold text-[#A94D39]">Monolingguwalismo ➡ Pagpapatupad ng iisang wika.</h2>
        </div>

        <div class="p-6">
            <h2 class="text-2xl font-bold text-[#A94D39]">Billinguwalismo</h2>
            <ul class="list-disc list-inside mt-4 text-gray-700">
                <li class="ml-12">Leonard Bloomfield (1935): Paggamit na tila ba’y katutubong wika.</li>
                <li class="ml-12">John Macnamara (1967): Kakayahan sa pakikinig, pagsasalita, pagbasa, at 
                    pagsulat. </li>
                <li class="ml-12">Uriel Weinreich (1953): Paggamit ng wika ng magkasalitan.</li>
                <li class="ml-12">Cook at Singleton (2014): Balanced Bilingual, kung saan hindi matukoy kung 
                    ano ang una at pangalawang wika.</li>
            </ul>
        </div>

        <div class="p-6">
            <h2 class="text-2xl font-bold text-[#A94D39]">Multilingguwalismo ➡ Paggamit ng dalawa o higit pang wika.
            </h2>
        </div>
    </section>
    
    <!-- Embedded YouTube Video -->
    <section class="mb-12 text-center">
        <div class="mt-4 relative w-full max-w-6xl mx-auto">
            <div class="aspect-w-16 aspect-h-9">
                <iframe class="w-full h-full" src="https://www.youtube.com/embed/TP0phPVY3yk" 
                    title="Blippi Meets TALKING PLANETS! | Blippi Wonders | Educational Cartoons for Kids" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>

    <p class="mt-4 text-gray-700">
        DepEd TV - Official. (2020b, November 21). SHS Filipino Q1 Ep1: Komunikasyon at 
        Pananaliksik sa Wika at Kulturang Pilipino [Video]. YouTube. 
        <a href="https://www.youtube.com/watch?v=TP0phPVY3yk" class="italic" target="_blank"><u>https://www.youtube.com/watch?v=TP0phPVY3yk</u></a>
    </p>
    

    <!-- PDF Button Section -->
    <section class="text-center mt-10 flex justify-center gap-4">
        <a href="/static/PDFs/LESSON_1.pdf" target="_blank" class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 transition flex items-center justify-center gap-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="PDF Icon" class="w-6 h-6">
            View (PDF)
        </a>
    </section>
</main>

{% include 'components/footer.html' %}
